<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <div th:replace="fragments/header :: header-css"/>
    <!-- Bootstrap core CSS -->
    <!--<link rel="stylesheet" th:href="@{/main.css}"/></head>-->
</head>

<body>
<div th:replace="fragments/header :: header"/>
<p class="info" th:if="${logoutMessage}" th:text="${logoutMessage}"/>
<div layout:fragment="content" align="center">
    <!--    private String title;-->
    <!--    private String genre;-->
    <!--    private Integer releaseDate;-->
    <!--    private Boolean availability;-->
    <!--    private String hirer;-->
    <h1 style="color: deeppink">ALL BOOKS</h1>


    <form action="#" th:action="@{/rentEffect.html}" method="post" class="form-signin">
        <table class="table table-bordered table-striped">
            <thead>
            <tr>
                <th>title</th>
                <th>genre</th>
                <th>release date</th>

            </tr>
            </thead>
            <tbody>
            <tr th:each="book : ${allAvailableBooks}">
                <td th:text="${book.title}">book title</td>
                <td th:text="${book.genre}">book.genre</td>
                <td th:text="${book.releaseDate}">book releaseDate</td>

<!--                <input id="mailing" type="checkbox" th:field="${ifRentABook}"/>-->
<!--                <label for="mailing" th:text="${ifRentABook}">wypożycz</label>-->

            </tr>
            </tbody>
        </table>
        <button class="btn btn-lg btn-primary btn-block" >Wypożycz</button>

        <div th:replace="fragments/footer :: footer"></div>
    </form>

</div>
<div th:replace="fragments/footer :: footer"></div>
</body>
</html>